In [6]:
#Q.1 
string_1='string'
float_1=22.8908
tuple_1=('hii','2')
a=b=3
list_1=[a,b,'2']

print("the sring is",string_1)
print("the float is",float_1)
print("the tuple is",tuple_1)
print("the list is",list_1)

the sring is string
the float is 22.8908
the tuple is ('hii', '2')
the list is [3, 3, '2']

In [4]:
#Q.2
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python']
var4 = 1

print("the data type of var 1 is",type(var1))
print("the data type of var 2 is",type(var2))
print("the data type of var 3 is",type(var3))
print("the data type of var 4 is",type(var4))

the data type of var 1 is <class 'str'>
the data type of var 2 is <class 'str'>
the data type of var 3 is <class 'list'>
the data type of var 4 is <class 'int'>

In [6]:
#Q.4
my_list = [42, "Hello, world!", 3.14, True, [1, 2, 3], {"name": "John", "age": 30}, None, (1, 2, 3), {"apple", "banana", "cherry"}, False]
for element in my_list:
    print(f"{element}: {type(element)}")

42: <class 'int'>
Hello, world!: <class 'str'>
3.14: <class 'float'>
True: <class 'bool'>
[1, 2, 3]: <class 'list'>
{'name': 'John', 'age': 30}: <class 'dict'>
None: <class 'NoneType'>
(1, 2, 3): <class 'tuple'>
{'apple', 'banana', 'cherry'}: <class 'set'>
False: <class 'bool'>

In [8]:
# Regular division
result = 10 / 3
print(result)  

# Modulo operator (remainder)
result = 10 % 3
print(result)  

# Floor division (integer division)
result = 10 // 3
print(result) 

# Exponentiation
result = 2 ** 3
print(result)

3.3333333333333335
1
3
8

In [9]:
#Q.5
def find_divisions(a, b):
    count = 0

    while a >= b:
        a = a - b
        count += 1

    return count

# Example usage
A = 24
B = 3

divisions = find_divisions(A, B)
if divisions > 0:
    print(f"{A} is purely divisible by {B} and can be divided {divisions} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

24 is purely divisible by 3 and can be divided 8 times.

In [11]:
#Q.6
# Created a list of 25 integer type data
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

# Loop through the list and check if each element is divisible by 3 or not
for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [17]:
#immutable data 
a='aditya'
print(a[2])

# a[2]=d therefore we cannot change the data on perticular string hence is immutable string

#mutable string
A=[1,2,3,4,5,'adi','aaa','bbb']
print(A[5])
A[5]='AAA'
print('this data in list can be changed via this methode ',A[5])

i
adi
this data in list can be changed via this methode  AAA